{% extends 'blog/base.html' %}

{% block content %}

<form action="/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="text" class="form-control" placeholder="Username" name="username">
<input type="password" class="form-control" placeholder="Passwords" name="password">
<button type="submit" class="btn btn-primary btn-lg" value="primary" name="guzik">Wyślij</button>
    #https://simpleisbetterthancomplex.com/tutorial/2016/08/01/how-to-upload-files-with-django.html
<input type="file" class="form-control-file" name="ssssss" />
</form>
<p>{{ zalogowany }}</p>



{% endblock %}