{% extends 'blog/base.html' %}


{% block content %}
{% for post in posts %}
<div class="post" xmlns="http://www.w3.org/1999/html">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h2><a href="">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>

                    </div>

{% endfor %}

<div>


    <h1>Tworzenie konta</h1>
                            <form action="." method="post">
                         {% csrf_token %}
                         {{ form.as_p }}
                         <label for="guz1">First name:</label><br>
                                <button type="submit" class="btn btn-danger" value="danger" name="guzik">cos tam</button>
                                <button type="submit" class="btn btn-primary btn-lg" value="primary" name="guzik">cos tam</button>
                                <input type="text" class="form-control" placeholder="Username">
                            </form>


</div>
<div>
    <p>{{ request.META.REMOTE_ADDR }}</p>
    <p>{{ czas }}</p>
    <p>{{ ala }}</p>
    <p>{{ edek }}</p>
    <p>{{ edek2 }}</p>

 {% load humanize %}
    <p>{{ liczba|apnumber}}</p>


</div>




{% endblock %}