
h1 a, h2 a {
    color: #C25100;
}

body {
        font-family: 'Lacquer', sans-serif;
        font-size: 20px;
        padding-left: 0px;
}

.ladne {font-family: 'Modak', sans-serif;
}

.page-header {
    background-color: #ded4d2;
    margin-top: 0;
    padding: 20px 20px 20px 40px;


